$img-url:'../image/';
.report{
    width: 100%;
    height: 100%;
    padding: 23px 18px 0 19px;
    box-sizing: border-box;
    position: relative;
    .zw-table{
        position: relative;
        .el-table{
            width: 1596px!important;
            margin: 0 auto;
            tbody{
                border-collapse: separate;
            }
        }
    }
    .zw-table::before{
        display: block;
        position: absolute;
        width: calc(100% + 20px);
        height: 82px;
        left: -10px;
        background: url(../image/device/bg_3.png);
        background-size: 100% 100%;
        content: ''
    }
    h3{
        margin-bottom: 20px;
        padding-left: 14px;
        text-align: left;
        font-size:22px;
        color: #9EE5F3;
    }
    .operation{
        height: 45px;
        margin-bottom: 23px;
        padding-left: 20px;
        li{
            .label{
                font-size: 14px;
                margin-right: 10px;
            }
            .el-button{
                height: 45px;
                box-sizing: border-box;
                border: 2px solid #2C95C1;
                background: linear-gradient(left bottom,#1a6f8b,#1d3a62);
                color: white;
                i{
                    margin-right: 6px;
                }
            }
            .el-select{
                width: 100px;
                height: 46px;
            }
            .search-input{
                width:180px;
            }
            .el-input{
                // height: 46px;
            }
            .el-input__inner{
                width:100%;
                height:46px;
                background: linear-gradient(to bottom,#1E3E67,#187594);
                border-width: 2px;
                border-color: #33C4F1;
                color: white
            }
            .el-date-editor--daterange{
                width: 250px;
                .el-range-input{
                    background: none;
                    color: white
                }
            }
        }
        li+li{
            margin-left: 10px;
        }
        li.r{
            .search-input{
                width: 185px;
                margin-right: 50px;
                .el-input__suffix{
                    line-height: 46px
                }
                .el-icon-search{
                    font-size: 24px;
                    color: #2A91FC;
                }
            }
        }
    }
/*     .el-table__header-wrapper{
        background: url(#{$img-url}device/bg_3.png) center;
        background-size: 100% 100%;
    } */
}
//弹出框
.zw-dialog{
    .el-dialog{
        border-radius: 4px;
        &__header{
            height:53px;
            box-sizing: border-box;
            background:linear-gradient(90deg,rgba(16,83,137,1),rgba(9,47,82,1),rgba(9,47,82,1),rgba(5,32,60,1));
            border-radius: 4px 4px 0 0;
            .el-dialog__title{
                color: #AEE4F0;
            }
            .el-dialog__close{
                font-size: 24px;
                color: white;
            }
        }
        &__body{
            background:#05203C;
            .el-form{
                &-item{
                    &__label{
                        width: 100px;
                        color: #9EE5F3;
                    }
                }
            }
            .label{
                width: 100px;
                padding: 0 12px 0 0;
                display: inline-block;
                color: #9EE5F3;
                text-align: right;
            }
            .el-input{
                width: 202px;
                &__inner{
                    width:100%;
                    height:42px;
                    border:1px solid rgba(158, 229, 243, 0.27);
                    border-radius:2px;
                    background: #092D53;
                    color: #9EE5F3;
                }
                &__inner[readonly='readonly']{
                    background: #3d434e54;
                }
            }
            .el-select{
                .el-input{
                    width: 100%;
                    &__inner{
                        background: #092D53;
                    }
                }
            }
            .el-form-item__error{
                // left: 120px;
            }
            .block.el-input,.block.el-textarea{
                width: 514px;
            }
            .unit.el-input.el-input--suffix{
                .el-input__suffix{
                    height: 40px;
                    line-height: 40px;
                    top: 1px;
                    right: 1px;
                    padding: 0 6px;
                    background: #0f4277
                }
            }
            .block.el-textarea{
                height: 94px;
                .el-textarea__inner{
                    height: 100%;
                    background: #092D53;
                    border:1px solid rgba(158, 229, 243, 0.27);
                    color: #9EE5F3;
                }
            }
            .el-checkbox{
                color: #9EE5F3
            }
            .el-checkbox__inner{
                background-color: #092D53;
                border-color: rgba(158, 229, 243, 0.27);
            }
            .str-length{
                position: absolute;
                top: 60px;
                right: 30px;
            }
            .thumb-img{
                width: 165px;
                height:128px;
                position: relative;
                border: 1px solid #05679e;
                border-radius: 6px;
                .delete{
                    display: none;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    line-height: 128px;
                    left: 0;
                    top: 0;
                    background: rgba($color: #000000, $alpha: 0.3);
                    cursor: pointer;
                    font-size: 40px;
                    text-align: center;
                    color: white;
                }
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .thumb-img:hover{
                .delete{
                    display: block;
                }
            }
            .el-upload--picture-card{
                width:165px;
                height:128px;
                background:rgba(24,64,107,1);
                border:1px solid rgba(5,103,158,1);
                p{
                    line-height: 26px;
                    display: inline-block;
                }
            }
        }
        &__footer{
            height: 74px;
            border-radius:0 0 4px 4px ;
            background:linear-gradient(90deg,rgba(10,48,83,1),rgba(7,44,79,1),rgba(5,32,60,1));
            .el-button{
                height: 38px;
                line-height: 38px;
                padding: 0 25px;
                color: #9EE5F3;
                border:1px solid rgba(81, 128, 205, 0.82);
                background: radial-gradient(#133E6B,#1E4F8F)
            }
        }
    }
}
.el-message-box{
    border:none!important;
    border-color: transparent!important;
    background: none!important;
    padding-bottom:0!important
}
.el-message-box__header{
    background:linear-gradient(90deg,rgba(16,83,137,1),rgba(9,47,82,1),rgba(9,47,82,1),rgba(5,32,60,1))!important;
    .el-message-box__title{
        color: #9EE5F3!important;
    }
}
.el-message-box__content{
    padding:20px!important;
    color: #9EE5F3!important;
    background:#05203C!important;
}
.el-message-box__btns{
    padding:16px;
    background:linear-gradient(90deg,rgba(10,48,83,1),rgba(7,44,79,1),rgba(5,32,60,1))!important;
    .el-button:first-of-type{
        float: right;
        margin-left: 10px;
    }
    .el-button{
        color: #9EE5F3;
        border:1px solid rgba(81, 128, 205, 0.82);
        background: radial-gradient(#133E6B,#1E4F8F)
    }
}
.red{
    color: #FC0404
}
.height-100{
    height: 100%;
}
.flex{
    display: flex;
}
.flex-center{
    justify-content: center;
}
//el-inupt
