$url:'../image/cloud/index';
.home{
    width: 100%;
    height: 100%;
    color: #A5EFFC;
    box-sizing: border-box;
    font-size: 14px;
    .statu{
        width:72px;
        height:124px;
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
        background: url(../image/index/normal.gif);
        border:1px solid rgba(1,150,7,1);
        border-radius:9px;
        box-shadow:  0 0 14px rgba(1,150,7,1);
    
    }
    .unnormal{
        background:url(../image/cloud/index/bg_yellow.png)!important;
        background-size: 100% 100%!important;
        .statu{
            background: url(../image/cloud/index/warning.gif);
            border:1px solid #E0E213;
            border-radius:9px;
            box-shadow:  0 0 14px #E0E213;
        }
    }
    .alarm{
        background:url(../image/index/alarm.png)!important;
        background-size: 100% 100%!important;
        .statu{
            background: url(../image/index/fire.gif);
            border:1px solid #fb0d0d;
            border-radius:9px;
            box-shadow:  0 0 14px #fb0d0d;            
        }
    }
    .header{
        position: relative;
        height: 98px;
        .title{
            font-size:34px;
            font-family:MicrosoftYaHei-Bold;
            font-weight:bold;
            color:#84C0FF;
            line-height:103px;
            letter-spacing: 4px;
        }
        .back.el-button{
            width:92px;
            height:50px;
            line-height: 50px;
            padding: 0;
            background:rgba(84,177,221,0.22);
            text-align: center;
            border: none;
            position: absolute;
            left: 30px;
            top: 18px;
            font-size: 20px;
            color:rgba(96,229,247,1);
        }
        ul.clearfix{
            position: absolute;
            top: 28px;
            right: 50px;
            line-height: 36px;
            li.icon{
                width:36px;
                height:36px;
                background:rgba(84,177,221,0.32);
                border-radius:50%;
                box-shadow:  0 0 14px rgba(84,177,221,0.42);
                cursor: pointer;
                i[class^="icon"]{
                    font-size:24px;
                    color:#54B1DD;
                }
            }
            li.user-name{
                font-size:16px;
                font-family:MicrosoftYaHeiUI;
                font-weight:bold;
                color:rgba(96,229,247,1);
            }
            li+li{
                margin-left: 20px;
            }
        }
    }
    .left-side,.right-side{
        height: 994px;
        .side-header{
            width: 366px;
            position: relative;
            background: url('#{$url}/number.png');
            >span{
                position: absolute;
                bottom: 10px;
                right: 16px;
             }
        }
        .side-content{
            width: 100%;
            height: 911px;
            padding-top: 6px;
            .iconfont{
                font-size: 28px;
                margin-right: 8px;
                vertical-align: middle;
            }
        }
    }
    .left-side{
        width: 381px;
        .side-header{
            margin-left: 11px;
        }
        .side-content{
            .list{
                >li{
                    width: 100%;
                    height: 302px;
                    background: url('#{$url}/leftbar.png');
                    background-size: 100% 100%;
                    cursor: pointer;
                    h4{
                        padding-top: 21px;
                        padding-left: 5px;
                        font-size:18px;
                        font-weight:400;
                        color:rgba(165,239,252,1);
                        line-height:28px;
                        text-align: left;
                    }
                    .list-content{
                        height:234px ;
                        position: relative;
                        .param{
                            padding-left: 20px;
                            position: absolute;
                            top: 50%;
                            left: 92px;
                            transform: translateY(-50%);
                            li{
                                height: 40px;
                                font-size: 14px;
                                line-height: 40px;
                                p{
                                    width: 150px;
                                    height: 100%;
                                    line-height: 40px;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    text-align: left;
                                    i{
                                        display: inline-block;
                                        width: 40px;
                                        vertical-align: middle;
                                    }
                                }
                                .value{
                                    font-size: 20px;
                                    margin-left: 30px;
                                }
                            }
                            li+li{
                                margin-top: 10px;
                            }
                        }
                    }
                }
                li+li{

                    margin-top: 10px;
                }
            }
        }
    }
    .right-side{
        width: 414px;
        .side-header{
            margin-left: 20px;
        }
        .side-content{
            overflow: hidden;
            .list{
                height:100%;
                >li{
                    width: 100%;
                    height: 227px;
                    border-bottom: 1px dotted #2B76B2;
                    cursor: pointer;
                    h4{
                        width: 188px;
                        height: 44px;
                        line-height: 36px;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        background: url(#{$url}/bg_4.png);
                        font-size:18px;
                        font-weight:400;
                        color:rgba(158,229,243,1);
                    }
                    .list-content{
                        height: 183px;
                        position: relative;
                        .param{
                            padding-left: 40px;
                            position: absolute;
                            top: 50%;
                            left: 72px;
                            transform: translateY(-50%);
                            li{
                                width: 120px;
                                height: 30px;
                                line-height: 30px;
                                font-size: 14px;
                                text-align: left;
                                .value{
                                    font-size: 20px;
                                    margin-left: 10px;
                                    line-height: 30px;
                                }
                                .iconfont{
                                    vertical-align: baseline;
                                }
                            }
                            li:nth-of-type(1),li:nth-of-type(2){
                                margin-bottom: 30px
                            }
                        }
                    }
                }
                >li.active{
                    background: rgba($color: #2B76B2, $alpha: 0.3);
                }
            }
        }
    }
    .main{
        margin-left: 390px;
        margin-right: 425px;
        height: 974px;
        padding-top: 20px;
        &-header{
            display: flex;
            justify-content: center;
            .iconfont{
                font-size: 28px;
                line-height: 40px;
            }
            li{
                >div{
                    p{
                        
                    }
                }
                >p{
                    margin-left: 20px;
                    font-size:36px;
                    font-family:MicrosoftYaHeiUI-Bold;
                    font-weight:bold;
                    color:rgba(132,242,255,1);
                    line-height: 64px;
                }
            }
            li+li{
                margin-left: 50px;
            }
        }
        #map{
            width: 100%;
            height: 637px;
            border-radius: 4px;
        }
        .main-footer{
            width: 100%;
            height: 263px;
            margin-top: 10px;
            box-sizing: border-box;
            display: flex;
            justify-content: space-between;
        }
        .device-list{
            width: 100%;
            height:100%;
            background: url(#{$url}/device-list.png);
            background-size: 100% 100%;
            h4{
                width: 278px;
                height: 40px;
                line-height: 40px;
                font-size:20px;
                margin: 5px auto 0 auto;
                background: url(#{$url}/device-title.png);
            }
            .type-list{
                height: 928px;
                h5{
                    height:55px;
                    line-height: 55px;
                    background:linear-gradient(90deg,rgba(17,45,69,0.34),rgba(16,52,78,0.34),rgba(15,60,89,0.34),rgba(15,64,94,0.34),rgba(16,71,101,0.34),rgba(15,66,95,0.34),rgba(15,61,87,0.34),rgba(16,50,77,0.34),rgba(18,45,72,0.34));
                    border-radius:10px 6px 6px 10px;
                    text-align: left;
                    padding-left: 35px;
                    font-size:18px;
                    font-family:MicrosoftYaHeiUI;
                    font-weight:400;
                    color:rgba(165,239,252,1);
                    .iconfont{
                        font-size: 24px;
                        margin-right: 10px;
                        vertical-align: middle;
                    }
                }
                .device{
                    text-align: left;
                    >li{
                        width: 273px;
                        height: 240px;
                        position: relative;
                        display: inline-block;
                        a{
                            display: block;
                            height: 100%;
                        }
                        .icon{
                            position: absolute;
                            left: 21px;
                            top: 50%;
                            transform: translateY(-50%);
                            color: #03CD82;
                            .iconfont{
                                font-size: 50px;
                            }
                            .device-status{
                                text-align: center;
                                margin-top: 18px;
                            }
                        }
                        .icon.off-line{
                            color: rgb(254, 245, 0);
                        }
                        .device-info{
                            position: absolute;
                            left: 76px;
                            margin-top: 19px;
                            h6{
                                font-size:22px;
                                font-weight:400;
                                color:rgba(182,192,220,1);
                            }
                            .data-item{
                                margin-top: 16px;
                                li+li{
                                    margin-top: 10px;
                                }
                                p:first-of-type{
                                    font-size:20px;
                                    color: #03CD82
                                }
                                p:last-of-type{
                                    font-size: 14px;
                                    color: #A4A3A5
                                }
                            }
                        }
                    }
                    >li:not(.alarm):before{
                        display: block;
                        width: 193px;
                        height: 4px;
                        position: absolute;
                        left: 50%;
                        bottom: 0;
                        transform: translateX(-50%);
                        bottom: 4px;
                        content: '';
                        background: url(#{$url}/border-bottom.png)
                    }
                    >li:not(.alarm):after{
                        display: block;
                        width: 4px;
                        height: 193px;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 4px;
                        content: '';
                        background: url(#{$url}/border-right.png);
                    }
                }
            }
        }
    }
}
.zw-dialog .el-dialog__body {
    .shuzi-yy{
        height: 40px;
        color: #A5EFFC;
        font-size: 16px;
        .el-radio-group{
            color: #F1F1F2; 
            background:rgba(5,28,74,1);
            border:1px solid rgba(83,123,174,1);
            border-radius:8px;
            .el-radio-button{
                border: none;
                .el-radio-button__inner{
                    background: transparent;
                    border: none;
                    font-size:16px;
                    color: #F1F1F2; 
                }
            }
            .el-radio-button.is-active{
                background:linear-gradient(0deg,rgba(0,79,177,1),rgba(16,137,172,1));
                border-radius:8px;
                .el-radio-button__inner{
                    color: #F1F1F2; 
                }
            }
            .el-radio-button__orig-radio:checked+.el-radio-button__inner{
                box-shadow: none;
            }
        }
        .el-date-editor--daterange.el-date-editor {
            width: 300px;
            .el-range-input , .el-range-separator{
                background: none;
                color: #A5EFFC
            }
        }
    }
    .table{
        height: 510px;
        tr{
            th,td{
                height: 44px;
                line-height: 44px;
                text-align: center;
            }
        }
        tbody{
            tr:nth-of-type(2n+1){
                background: #0A3F8A
            }
            tr:nth-of-type(2n){
                background: #052A57
            }
        }
        .zw-pagination{
            bottom: 10px;
        }

    }
}