$img-url:'../../../assets/image/';
.state{
    width:72px;
    height:124px;
    line-height: 124px;
    margin-left: 20px;
    margin-top: 36px;
    position: relative;
    // background:rgba(11,38,79,1);
    background: url(#{$img-url}index/normal.gif);
    border:1px solid rgba(1,150,7,1);
    border-radius:9px;
    box-shadow:  0 0 14px rgba(1,150,7,1);
    .sx1{
        position: absolute;
        width: 72px;
        height: 72px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        transform-origin: 50% 50%;
        clip: rect(0px,36px,36px,0px); /*这个clip属性用来绘制半圆，在clip的rect范围内的内容显示出来，使用clip属性，元素必须是absolute的 */
        border-radius: 100px;
        background:linear-gradient(180deg,#02CD35,#fff);
        animation: an1 2s infinite linear;
        -webkit-animation: an1 2s infinite linear;
    }
    span{
        font-size:23px;
        font-family:MicrosoftYaHei;
        font-weight:400;
        color:rgba(1,121,1,1);
    }
    @keyframes an1 {
        from {transform:translate(-50%,-50%) rotate(0deg)}
        to {transform:translate(-50%,-50%) rotate(360deg)}
    }
}
.help{
    background:rgba(104,10,23,0.34)!important;
    .state{
        background: url(#{$img-url}index/sos.gif);
        border:1px solid #fb0d0d;
        border-radius:9px;
        box-shadow:  0 0 14px #fb0d0d;
    }
}
.alarm{
    background:rgba(104,10,23,0.34)!important;
    .state{
        background: url(#{$img-url}index/fire.gif);
        border:1px solid #fb0d0d;
        border-radius:9px;
        box-shadow:  0 0 14px #fb0d0d;
    }
}
.off-line{
    .state{
        background: url(#{$img-url}index/off-line.gif);
        border:1px solid #fbed0d;
        border-radius:9px;
        box-shadow:  0 0 14px #fbed0d;
    }
}
.uninstalled{
    .state{
        background: url(#{$img-url}index/uninstalled.gif);
        border:1px solid #444544;
        border-radius:9px;
        box-shadow:  0 0 14px #444544;
    }
}
.home{
  width: 100%;
  height: 100%;
  background: url(#{$img-url}index/index.jpg);
  color: #AEE4F0;
  font-size: 14px;
  h1{
    height: 72px;
    font-size:36px;
    position: relative;
    letter-spacing: 10px;
    font-family:JZunYuan;
    font-weight:bold;
    color:rgba(199,254,255,1);
    overflow: hidden;
    >div{
        position: absolute;
        top: 0;
        right: 0;
    }
    p{
        height: 72px;
        line-height: 72px;
        font-size: 14px;
        letter-spacing: 4px;
        margin-right: 10px;
    }
    .icon-item{
        width:44px;
        height:44px;
        line-height:44px;
        background:rgba(84,177,221,0.32);
        border-radius:50%;
        box-shadow:  0 0 14px rgba(84,177,221,0.42);
        cursor:pointer;
        .iconfont{
            font-size:30px;
            color:#54B1DD;
            position:relative;
            left:4px;
        }
    }
    .icon-item.r{
        margin-top: 13px;
        margin-right: 14px;
    }
  }
  .aside{
    width:414px;
    height:995px;
    position: relative;
    border-radius:11px 7px 7px 11px;
    margin-top: 4px;
    margin-left: 4px;
  }
  .left-content{
    .list{
      width: 100%;
      height: 957px;
      overflow: hidden;
      background: url(#{$img-url}index/left.png);
      background-size: 100% 100%;
      ul.cards{
        >li{
         /*  background: url(#{$img-url}index/room-info-bg.png); */
          h5{
            height:21px;
            background:linear-gradient(90deg,rgba(29,79,132,0.88),rgba(12,39,74,0.88),rgba(9,31,63,0.88));
            border-radius:4px;
            font-size:16px;
            color: #9EE5F3;
            line-height: 21px;
            text-align: left;
            text-indent: 24px;
          }
          .info{
            height: 208px;
            ul{
                margin-left: 130px;
                height: 100%;
                li{
                    width: 50%;
                    height: 40px;
                    position: relative;
                    margin-top: 25px;
                    padding-left: 20px;
                    box-sizing: border-box;
                    line-height: 40px;
                    color: #A5EFFC;
                    opacity: 0.8;
                    text-align: left;
                    i{
                        position: absolute;
                        /* top: 4px; */
                        left: 0px;
                        font-size: 32px;
                    }
                    span{
                        margin-left: 20px;
                        font-size: 20px;
                    }
                }
            }
          }
          .info.active{
            background: #1B63AA
         }
        }
      }
    }
  }
  .right-content{
    width: 545px;
    .list{
      width: 100%;
      height: 460px;
      overflow: hidden;
    }
    ul.alarm-info{
          width: 100%;
          overflow: hidden;
          >li{
              width: 570px;
            //   height: 232px;
              padding-bottom: 14px;
              background: url(#{$img-url}index/room-info-bg.png) -20px;
              background-size: 100% 100%;
              .room-title{
                  position: relative;
                  button{
                    width:76px;
                    height:41px;
                    position: absolute;
                    border-radius:4px;
                    outline: none;
                    color: white;
                    cursor: pointer;
                  }
                  button:first-of-type{
                    top: 10px;
                    left: 50px;
                  }
                  .fire-alarm{
                      background:linear-gradient(34deg,#691220,#8b1b2c 14%,#b03446,#871a2b 84%,#691220);
                      border:1px solid #dc3457;
                  }
                  button:last-of-type{
                      top: 10px;
                      right: 70px;                    ;
                  }
                  button{
                    background:linear-gradient(24deg,#3d434d,#5b606a 14%,#82879a,#5b606a 84%,#3d434d);
                    border:1px solid #847f80
                  }
                  .room-number{
                    width: 156px;
                    height: 42px;
                    line-height: 42px;
                    margin: 10px auto;
                    background: url(#{$img-url}index/room-number.png);
                    background-size: 100% 100%;
                  }
              }
              .room-info{
                  padding: 4px 40px 4px 18px;
                  p.name{
                      padding:4px 10px;
                      text-align: left;
                      font-size: 20px;
                  }
                  table{
                      width: 100%;
                  }
                table.table-header{
                    tr{
                        height: 36px;
                        background: linear-gradient(to bottom,#143159 10%,#28527c 90%)
                    }
                }
                  .table-body{
                        table{
                            tr{
                                height: 28px;
                                font-size: 14px;
                                td.warning{
                                    color: #E0E213
                                }
                            }
                            tr:nth-of-type(2n+1){
                                background: #0a3667
                            }
                            tr:nth-of-type(2n){
                                background: #30557f
                            }
                        }
                  }
              }
          }
    }
    .zw-card{
        .map1{
            width: 525px;
            height: 300px;
            margin: 20px auto;
        }
        .search-box{
            width: 525px;
            height: 100px;
            margin: 0 auto;
            position: relative;
            border: 1px solid #0770A5;
            border-radius: 10px;
            .arrow{
                position: absolute;
                top: 50%;
                left: 10px;
                transform: translateY(-50%);
                cursor: pointer;
                .iconfont{
                    font-size: 24px;
                    color: #999999
                }
            }
            .inputs{
                input{
                    width: 425px;
                    height: 46px;
                    background: none;
                    border: none;
                    color: white;
                }
                input:first-of-type{
                    border-bottom: 1px solid #0770A5;
                }
            }
        }
    }
  }
  .center{
    height: 995px;
    margin-left:426px;
    margin-right: 550px;
    .header{
        width: 907px;
        height: 191px;
        margin: 0 auto;
        margin-top: 21px;
        margin-bottom: 13px;
        background: url(#{$img-url}index/nav_bg_1.png);
        ul{
            width: 50%;
            height: 100%;
            li{
                width: 50%;
                height: 50%;
                line-height: 30px;
                p:first-of-type{
                    margin-top: 10px;
                    i{
                        position: relative;
                        top: 4px;
                        font-size: 31px;
                        opacity: 0.6;
                        margin-right: 6px;
                    }
                }
                p:last-of-type{
                    font-size:24px;
                    font-family:JHRuHeiZhong;
                    font-weight:400;
                    color:rgba(174,228,240,1);
                }
            }
        }
    }
    .floors{
        .floor-list{
            height: 710px;
            box-sizing: border-box;
            ul{
                padding-left: 34px;
                margin-top: 20px;
                transform: rotateZ(180deg) rotateY(180deg);
                transform-origin: 50% 50%;
                li{
                    width:113px;
                    height:53px;
                    line-height: 53px;
                    position: relative;
                    margin-top: 14px;
                    border:1px solid rgba(158,229,243, 0.4);
                    border-radius:11px 7px 7px 11px;
                    .icon{
                        width: 47px;
                        height: 0;
                        box-sizing: border-box;
                        border-bottom: 4px solid #5FCDF2;
                        border-left: 4px solid transparent;
                        border-right: 4px solid transparent;
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        margin-left: -24px;
                    }
                    p{
                        font-size: 20px;
                        transform: rotateX(180deg);
                        opacity: 0.8;
                    }
                }
                li:nth-of-type(2n){
                    margin-left: 20px;
                }
                li.active{
                    background: #1B63AA
                }
                li.alarm{
                    background: rgba(104, 10, 23, 0.34)
                }
            }
        }
    }
    .rooms{
        margin-left: 10px;
        ul{
            li{
                width: 50%;
                height: 218px;
                box-sizing: border-box;
                border-bottom: 1px dotted #2B76B2;
                .room-number{
                    width: 107px;
                    height: 29px;
                    line-height: 29px;
                    margin: 0 auto;
                    background: url(#{$img-url}index/room-number.png);
                }
                .room-info{
                    p{
                        margin-left: 109px;
                        font-size: 20px;
                        line-height: 30px;
                        position: relative;
                        top: 64px;
                    }
                }
            }
            li:nth-of-type(2n+1){
                border-right: 1px dotted #2B76B2;
            }
        }
    }
    .zw-card.map-container{
        box-sizing: border-box;
        padding: 10px;
        .map{
            width: 100%;
            height: 100%;
        }
    }
  }
}